



<nav class="navbar navbar-expand-lg text-light ">
    <div class="container-fluid">
      <a class="navbar-brand text-light" routerLink="/">Restaurent</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item text-light">
            <a class="nav-link active text-light" aria-current="page" routerLink="/add">Add Restaurant</a>
          </li> 
           <!-- <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" routerLink="/update">Update Restaurant</a>
          </li>  -->
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" routerLink="/list">List Restaurant</a>
          </li>

        
  
         
        </ul>
        <form class="d-flex">
            <ul class="navbar-nav nav-item ">
                <li class="nav-item ">
                   <a class="nav-link text-light">welcome: </a> 
                  </li>
                <li class="nav-item">
                    <a class="nav-link text-light"  > {{email}} </a>
             
                  </li>
                <!-- <li class="nav-item">
                    <a class="nav-link active text-light" routerLink="/register" >Signup </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active text-light" routerLink="/login">Signin </a>
               
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link active text-light" routerLink="/login" >Logout </a>
               
                  </li>
              
                <li class="nav-item">
                  <a class="nav-link text-light" href="#"><fa-icon [icon]='faBell'></fa-icon></a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link text-light" href="#"><fa-icon [icon]='faUser'></fa-icon></a>
                </li>
              
              </ul>
  
        </form>
      </div>
    </div>
  </nav>
  